.glow {
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.glow-btn{
    -webkit-animation: glow-btn 1s ease-in-out infinite alternate;
    -moz-animation: glow-btn 1s ease-in-out infinite alternate;
    animation: glow-btn 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
            0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
    }

    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
            0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@keyframes glow-btn {
    from {
        box-shadow: 0 0 10px #eeeeee, 0 0 10px #000000, 0 0 10px #000000, 0 0 20px #000000,
            0 0 30px rgb(190, 127, 127), 0 0 40px rgb(230, 183, 183), 0 0 40px rgb(135, 70, 70);
    }

    to {
        box-shadow: 0 0 10px #eeeeee, 0 0 10px rgb(178,0,0), 0 0 20px rgb(178,0,0), 0 0 30px rgb(178,0,0),
        0 0 30px rgb(224, 57, 57), 0 0 40px rgb(204, 157, 157), 0 0 40px rgb(233, 144, 144);
    }
}